h2,
p,
.settingScore {
  padding-left: 10px;
}

.card {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
}

.card-body {
  padding: 0;
}

h1 {
  font-size: 12px;
  padding: 15px 10px 0 10px;
}

h2 {
  font-weight: 600;
}

button {
  width: 129px;
  margin-right: -6px;
  color: white;
  padding: 8px 0;
  border: transparent;
}

button:focus {
  outline: none;
}

button:disabled {
  opacity: 0.6;
}

.settingScore {
  margin-bottom: 15px;
}

.playTo {
  border-radius: 15px;
  padding: 1px 1px;
}

.playTo:focus {
  outline: none;
}

.card-text {
  margin-bottom: 10px;
}

.playerOne {
  background-color: #60bfbf;
}

.playerTwo {
  background-color: #f9944c;
}

.reset {
  background-color: #8959d7;
}
